
.SeriesLink {
    width: calc(100% / 6 - 13px);
    height: 50px;
    float: right;
    background-color: black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.SeriesLink:hover {
    background-color: #333;
}

@media(max-width: 1300px) {
    .SeriesLink {
        width: calc(100% / 5 - 13px);
    }
}

@media(max-width: 730px) {
    .SeriesLink {
        width: calc(100% / 4 - 13px);
    }
}

@media(max-width: 600px) {
    .SeriesLink {
        width: calc(100% / 3 - 10px);
    }
}

@media(max-width: 460px) {
    .SeriesLink {
        width: calc(100% / 2 - 8px);
    }
}

@media(max-width: 330px) {
    .SeriesLink {
        width: 100%;
    }
}