
.Comment {
    width: 100%;
    height: auto;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 1.5rem 2rem;
    border-top: solid 1px #80808040;
    position: relative;
}

.Comment.answer_cmt {
    padding: 1.5rem 5rem 1.5rem 2rem;
}

.topComment {
    width: 100%;
    height: auto;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topComment .right {
    width: auto;
    height: auto;
    float: right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.date {
    font-size: 15px;
    float: right;
    color: white;
    font-family: 'yekan_Medium';
}

.Comment img {
    width: 47px;
    height: 47px;
    float: right;
    border-radius: 15px;
    object-fit: cover;
}

.content {
    width: 100%;
    height: auto;
    float: right;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.username {
    float: right;
    font-size: 14px;
    color: white;
    font-family: var(--font) , 'yekan_Medium';
}

.content .text {
    width: 100%;
    float: right;
    text-align: justify;
    font-size: 15px;
    color: grey;
    
}

.answer {
    width: auto;
    height: 35px;
    float: right;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    color: var(--theme);
    border: solid 1px var(--theme);
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-top: 7px;
}

.answer:hover {
    color: white;
    background-color: var(--theme);
}

.answers_list {
    width: 100%;
    height: auto;
    float: right;
    background-color: var(--bg2);
}

.expoile {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: #0000007b;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.expoile button {
    width: auto;
    height: 45px;
    float: right;
    background-color: var(--bg2);
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 0 1.5rem;
    color: white;
    cursor: pointer;
}

.Comment.answer_cmt .username {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3px;
}

.Comment.answer_cmt .username span {
    font-size: 13px;
    color: grey;
    float: right;
}

@media(max-width: 600px) {
    .Comment.answer_cmt {
        padding: 1.5rem 2.2rem 1.5rem 1.5rem;
    }
}