
.NotificationContainer {
    width: 100%;
    height: auto;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 10px;
    padding: 1rem;
    pointer-events: none;
    position: fixed;
    top: 0;
    z-index: 2000000;
}